.button.secondary {
  @apply bg-secondary text-[#1a181d];
}

.author-data .author__name {
  @apply text-secondary;
}

.card__link {
  @apply text-secondary;
}

.button {
  @apply bg-secondary;

  &.process-nav__more {
  	@apply bg-primary text-white;

  	i {
  		@apply bg-white;
  	}
  }
}

.section-heading::before  {
  @apply bg-secondary;
}

.process-nav__more, .process-nav__hidden-content__more {
  @apply text-white;

  i {
  	@apply text-white;
  }
}

.card__icondata ul li:first-child, .card__block ul li:first-child {
  @apply text-secondary;
}
