.decidim-logo {
	@apply w-20;
}

//Main footer
.main-footer {
  @apply bg-[#fff] text-navbarFg;

  a {
  	@apply text-navbarFg;

      &:hover {
        @apply text-navbarFgHover;
      }
  }
}

@media print, screen and (min-width: 64em) {
  .main__footer__nav {
    @apply text-left;
  }
}
