.sp {
	@apply w-8 h-8 clear-both my-5 mx-auto;
}


/* Spinner Circle Rotation */
.sp-circle {
	@apply border-[4px] border-[rgba(#2c2930,0.25)] border-solid border-t-[4px] border-t-[rgba(#2c2930,1)] rounded-[50%];
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}

