.social-register, #loginModal {
  .button--social.button--civicrm {
    img.icon.external-icon {
      @apply h-full w-auto !block brightness-[0] invert-[1];
    }
  }
}

#loginModal {
  .button--social.button--civicrm {
    img.icon.external-icon {
      @apply h-[2rem] my-0 mx-2;
    }

    .button--social__icon {
      @apply float-left;
    }

    .show-for-sr {
      @apply block !h-auto !w-auto !static !whitespace-normal !overflow-auto mt-[1.3rem] !pr-[0.6rem];
      clip: auto !important;
    }
  }
}
