// Overide background default bar
.title-bar{
	@apply bg-titleBarBg;
}

.navbar {
	@apply bg-navbarBg;
}

.main-nav__link a {
	@apply text-navbarFg;

	&:hover {
		@apply text-navbarFgHover;
	}
}

.main-nav__link--active a {
	@apply bg-navbarBgHover;
}

.show-for-medium {
	.main-nav__link a:hover {
		box-shadow: inset 0 4px 0 0 lighten(#D83926, 10%);
	}
}

.hide-for-medium {
	.main-nav__link a:hover {
	    box-shadow: inset 4px 0 0 0 lighten(#D83926, 10%);
	}
}

.off-canvas .close-button {
  @apply text-primary;
}

.dropdown.menu .is-active > a {
	@apply text-linkColor;
}

.topbar_ {
	&_menu {
		@apply pt-[0.125rem] px-2 pb-0 bg-[rgba(48,65,93,0.1)] rounded-[12.5%];

		[data-toggle] {
			@apply mb-0 py-[6px] px-[3px];
		}

		.icon--menu {
			@apply w-4 h-4 fill-primary;
		}
	}

	&_edit__link a {
		@apply pl-[5px] text-linkColor;

		&:hover {
			@apply text-linkColor;
		}
	}

	&_user__login{
	  a {
		@apply font-medium text-linkColor;
	  }
	}

	&_notifications, &_conversations{
	  .icon {
		@apply fill-linkColor;
	  }
	}

	&_dropmenu {
		> ul > li > a {
			@apply text-linkColor;
		}

		.is-dropdown-submenu-parent {
			> a, &.is-active > a {
				@include breakpoint(smallmedium down) {
					@apply text-white;
				}
			}
		}

		.is-dropdown-submenu li a {
			@apply text-linkColor;
		}
	}

	&_search {
		input, input:focus {
			@apply bg-navbarBg text-navbarFg;
		}

		input::placeholder, textarea::placeholder {
			@apply text-navbarFg;
		}

		svg {
			@apply text-navbarFg;
		}

		&:not(:focus-within) button {
		  @apply bg-navbarBg;
		}
	}
}


.hide-for-medium{

  .topbar__user__login{
	@apply divide-y-0;

    a{
	  @apply text-navbarBg font-semibold;

      &:hover{
		@apply text-linkColor;
      }
    }
  }
}

.logo-wrapper span{
	@apply text-linkColor;
}
