body {
  font-family: 'Lora', 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Poppins Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.5px;
}

.section-heading {
  @apply text-fearlessBlue;

  &:before {
    @apply bg-fearlessBlue h-[1em] w-[1em] rounded-[50%] align-super;
  }
}

a, button, .section-heading, .mini-title, .card-data, .definition-data__title {
  font-family: "Poppins Bold", sans-serif;
}

.extended.home-section {
  h3 {
    @apply text-fearlessBlue;
  }
}
