a.hero-cta.button {
  font-family: "Poppins Bold", sans-serif;
  @apply rounded-[10em] border border-solid border-fearlessBlack bg-fearlessRed;

  &:hover {
    @apply bg-white text-fearlessRed;
  }
}

a.button.hollow {
  font-family: "Poppins Bold", sans-serif;
  @apply rounded-[10em] border border-solid border-fearlessBlack text-fearlessRed;

  &:hover {
    @apply bg-fearlessRed text-white;
  }
}
