.card {
  @apply border border-solid border-fearlessBlack rounded-2xl;

  img.card__image {
    @apply rounded-t-2xl;
  }

  .card__image-top {
    @apply m-auto rounded-[50%] w-[8em] content-center;
  }

  .card__content {
    .card__title.card__link {
      @apply text-fearlessBlue;
    }
  }

  .card-data .card-data__item:last-child {
    border-right: unset;
  }

  .card__button {
    font-family: "Poppins Bold", sans-serif;
    @apply rounded-2xl;
  }

  .card__footer {
    @apply rounded-b-2xl;
  }
}

#highlighted-assemblies {
  .card {
    .card__content {
      @apply m-auto text-center;
    }
  }
}
