.mini-footer, .main-footer {
  @apply text-white bg-transparent block z-1;

  a {
    @apply text-white;
  }
}

.main-footer::before {
  content: "";
  @apply content-[''] h-[500%] w-[100vw] block absolute -z-1 top-0 bg-[url('images/texture-blue.jpg')] bg-no-repeat bg-bottom;
}
