section.home-section {
	#highlighted-assemblies {
		h3.section-heading {
			@apply text-fearlessBlue text-center;

			&:before {
				@apply bg-none;
			}
		}

		.card {
			@apply bg-none border-0;

			.card__image-top {
				@apply m-auto rounded-[50%] w-[8em] content-center;
			}

			.card__content {
				@apply m-auto text-center;

				.card__title.card__link {
					@apply text-fearlessBlue;
				}
			}
		}
	}
}
