@import "variables";

/* fix color variables */
.cookie-warning a {
  @apply text-primary;
}

.button.hollow.primary:hover,
.button.hollow.primary:focus {
  @apply text-primary;
}

.floating-helper__text {
  @apply text-primary;
}

.floating-helper__icon {
  @apply bg-primary;
}

.global-accountability .row.column .card--accountability .card__content ul a,
.global-accountability .row.columns .card--accountability .card__content ul a,
.global-accountability .row.column .card--accountability .badge-card__content ul a,
.global-accountability .row.columns .card--accountability .badge-card__content ul a {
  @apply text-primary;
}

.topbar__dropmenu .is-dropdown-submenu li a {
  @apply text-primary;
}

.svg-icon-path {
  @apply text-primary;
}

html a {
  @apply text-primary;
}

.card__link,
.card__link:hover {
  @apply text-primary;
}

.card__text a:hover {
  @apply text-secondary;
}

.author-data .author__name {
  @apply text-primary;
}

.process_stats .process_stats-item .icon {
  @apply text-primary;
}

#profile-tabs.tabs .tabs-title a {
  @apply text-primary;
}

.floating-helper__icon-big {
  @apply text-primary;
}

.link,
.link-alt {
  @apply text-primary;

  &:hover {
    @apply text-secondary;
  }
}

.side-panel__tabs .tabs-title.is-active > [role="tab"],
.side-panel__tabs .tabs-title.is-active > a {
  @apply text-primary;
}

.side-panel__tabs .tabs-title > [role="tab"]:hover,
.side-panel__tabs .tabs-title > a:hover {
  @apply text-primary;
}

.opinion-toggle--meh:hover {
  @apply bg-primary;
}

.opinion-toggle--meh:focus {
  @apply bg-primary;
}

.opinion-toggle--meh.is-active {
  @apply bg-primary;
}

.floating-helper__content-close {
  @apply bg-primary;
}

.button.primary {
  @apply bg-primary;
}

.floating-helper__content {
  @apply border-t-[5px] border-t-primary border-t-solid;
}

.pagination .current {
  @apply bg-primary;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: var(--primary) transparent transparent;
}
.dropdown.menu .is-active > a {
  @apply text-primary;
}

.collapsible-list .collapsible-list__see-more {
  @apply text-primary;
}

/* fix colors variables primary darker  */
a:focus {
  @apply text-primary;
}
a:hover {
  @apply text-primary;
}
.author__name:hover {
  @apply text-primary;
}
.author-data a:hover {
  @apply text-primary;
}
.author-data button:hover {
  @apply text-primary;
}
.button.primary:hover {
  @apply bg-primary;
}
.card--list__icon {
  @apply fill-secondary;
}
