.title-bar {
  a {
    font-family: "Poppins Bold", sans-serif;
    @apply text-fearlessBlue;
  }
}

.navbar {
  @apply bg-white pb-[1em];

  .main-nav ul {
    @apply uppercase;

    .main-nav__link {
      a {
        @apply text-fearlessBlue shadow-none;

        &:hover {
          @apply shadow-none underline;
        }
      }

      &.main-nav__link--active a {
        @apply shadow-none border border-solid border-fearlessBlack rounded-[10em] bg-fearlessRed text-white;

        &:hover {
          @apply bg-white no-underline text-fearlessRed shadow-none;
        }
      }
    }
  }
}
