.process-nav {
  .process-nav__content ul {
    @apply py-[1em] px-0;

    li {
      box-shadow: none;
      @apply shadow-none;

      &.is-active {
        box-shadow: none;
        background-color: $fearless-red;
        border: 1px solid $fearless-black;
        border-radius: 2em;
        @apply bg-fearlessRed border border-solid border-fearlessBlack rounded-[2em] shadow-none;

        a {
          @apply text-White;
        }

        &:hover {
          @apply underline bg-white;

          a {
            @apply text-fearlessRed;
          }
        }
      }
    }
  }
}