name: Lint

on:
  push:
    branches:
      - master
  pull_request:

env:
  RUBY_VERSION: 3.3
  NODE_VERSION: 22.14.0
    
jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - uses: actions/setup-node@master
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: bundle exec rubocop -P
        name: Lint Ruby files
