name: Test

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUBY_VERSION: 3.3
  NODE_VERSION: 22.14.0
  RAILS_ENV: test
  DATABASE_USERNAME: postgres
  DATABASE_PASSWORD: postgres

jobs:
  test:
    name: Test
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          DATABASE_USERNAME: postgres
          DATABASE_PASSWORD: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - uses: nanasess/setup-chromedriver@v2
        with:
          chromedriver-version: 119.0.6045.105

      - name: List Chrome
        shell: "bash"
        run: apt list --installed | grep chrome

      - name: Remove Chrome
        shell: "bash"
        run: sudo apt remove google-chrome-stable

      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: 119.0.6045.105

      - name: Setup & create Database
        run: |
          bundle exec rails db:create db:schema:load

      - name: Precompile assets
        run: |
          npm install
          bundle exec rake assets:precompile

      - name: Run RSpec
        run: SIMPLECOV=1 CODECOV=1 bundle exec rspec
